In [53]:
import pandas as pd

df_raw = pd.read_csv("data/raw_data/lichen_moss_coverage_data.csv")
df_processed = df_raw

In [54]:
df_raw

,sample,angle,aspect,total_cover,moss_fraction,crustose,fruticose,foliose,species,deviation_north,solar_radiation
0,4,-31,260,8,3,1,0,1,"G_c,O_c,W_c,Bl_f",100,1749116.0
1,5,-6,298,3,5,1,0,1,"Bl_f,W_c,G_c,O_c",62,1702451.0
2,6,-16,351,17,29,1,0,0,"W_c,G_c",9,1746397.0
3,7,-12,129,1,0,1,0,0,"W_c,O_c",129,1626249.0
4,8,-17,55,6,11,1,0,0,"G_c,W_c,O_c",55,1541382.0
5,9,-17,321,48,4,1,0,1,"O_c,W_c,G_c,W_f",39,NaN
6,10,-23,324,38,89,1,0,1,"O_c,W_c,G_c,W_f,Bl_f",36,NaN
7,11,8,6,10,0,1,0,0,"G_c,O_c,W_c,GR_c",6,1562656.0
8,12,-9,286,1,0,1,0,0,"G_c,W_c",74,1733553.0
9,13,-10,12,39,10,1,1,1,"W_c,W_fr,W_f,G_c,GR_c",12,1659893.0
10,14,-3,16,43,3,1,1,0,"W_fr,G_c,W_c,GR_c",16,1597429.0
11,15,-12,23,20,57,1,0,1,"W_f,G_c,W_c",23,1674168.0
12,16,0,0,43,1,1,1,1,"W_c,W_c,W_fr,Bl_f,G_c,GR_c",0,1255192.0
13,17,-8,3,84,14,1,1,1,"W_f,W_c,W_fr,Bl_c,G_c,W_c",3,1029687.0
14,18,2,341,55,0,1,0,0,"W_c,G_c,Bl_c,O_c",19,1268132.0
15,19,0,2,63,4,1,1,1,"W_c,W_c,W_fr,W_f,G_c",2,1557222.0
16,20,24,1,32,24,1,1,1,"W_fr,W_c,W_f,G_c,GR_c",1,1607861.0
17,21,-5,1,48,2,1,1,1,"W_fr,W_f,W_c,GR_c,G_c",1,1703458.0
18,22,3,6,69,1,1,1,0,"W_fr,W_c,G_c,GR_c",6,1623516.0
19,23,-11,352,21,5,1,1,1,"W_fr,W_c,G_c,Bl_f",8,1650079.0
20,24,0,145,10,0,1,1,1,"Y_f,G_c,W_c,W_f",145,1665297.0
21,25,0,17,49,7,1,1,1,"G_c,W_fr,W_c,W_f,GR_c",17,1679902.0
22,26,-25,317,5,43,1,0,0,"G_c,R_c,W_c,O_c",43,1762736.0
23,27,27,272,9,12,1,0,0,"G_c,W_c,O_c",88,1760109.0
24,28,-15,288,6,61,1,0,0,"W_c,G_c",72,1384907.0
25,29,-27,315,35,39,1,0,1,"G_c,W_c,O_c,Bl_c,W_f",45,1667744.0
26,30,0,269,9,0,1,0,0,"G_c,W_c,Bl_c",91,1684919.0
27,31,-15,270,7,55,1,0,0,"G_c,W_c,O_c",90,1779883.0
28,32,-8,300,43,17,1,0,1,"G_c,W_c,R_c,O_c,Bl_c,W_f,Bl_f",60,NaN
29,33,-23,11,64,70,1,0,1,"G_c,W_c,W_c,Bl_c,O_c,W_f",11,NaN
30,34,-21,8,47,20,1,0,1,"G_c,W_c,Bl_c,W_f,W_f,O_c",8,NaN
31,35,2,179,18,95,1,0,0,W_c,179,NaN
32,36,-27,0,23,33,1,0,1,"W_c,G_c,W_f,Bl_c",0,NaN
33,37,-23,3,28,24,1,0,1,"W_c,G_c,W_f,Bl_c",3,NaN
34,38,19,220,18,60,1,0,0,"G_c,W_c,O_c",140,NaN
35,39,13,283,8,35,1,0,0,"G_c,W_c,O_c",77,NaN
36,40,-11,17,29,24,1,0,1,"G_c,W_c,O_c,W_f,Bl_f,Bl_c",17,NaN
37,41,-25,349,39,38,1,0,1,"G_c,W_c,W_f,O_c,Bl_c",11,NaN
38,42,-24,111,4,3,1,0,0,W_c,111,NaN
39,43,-6,197,4,46,1,0,1,"G_c,W_f,W_c,O_c",163,NaN
40,44,-17,72,3,7,1,0,0,"G_c,W_c,O_c",72,NaN
41,45,-15,27,38,12,1,0,1,"W_c,G_c,O_c,W_f",27,NaN
42,46,12,257,9,3,1,0,0,"O_c,W_c,G_c",103,NaN

In [55]:
# the "total coverage" is the total amount of lichen AND moss covering the
# surface of a rock
# the "moss fraction" is the fraction OF THE TOTAL that is moss.
# so it's a percentage of a percentage (we recoreded it that way because
# it was methodologically easier)
# example: 10% total cover, 40% moss cover
# 40% of 10% = 4%
# therefore there is 4% moss, and the 6% remaining is lichen
# the code below processes our values into simply "moss coverage" and
# "lichen coverage"

# the cover values are %, so divide by 100 to get the true value
total_cover = df_raw['total_cover'] / 100
moss_fraction = df_raw['moss_fraction'] / 100
moss_cover = total_cover * moss_fraction
lichen_cover = total_cover - moss_cover

df_processed['moss_cover'] = moss_cover
df_processed['lichen_cover'] = lichen_cover

In [56]:
# convert the strings in "species" to lists of strings
species = pd.Series([species.split(',') for species in df_raw['species']])
df_processed['species'] = species

In [57]:
all_species = set()
for species_list in df_processed['species']:
    for unique_species in species_list:
        all_species.add(unique_species)

all_species

{'Bl_c',
 'Bl_f',
 'GR_c',
 'G_c',
 'O_c',
 'R_c',
 'W_c',
 'W_c ',
 'W_f',
 'W_fr',
 'Y_f'}

In [58]:
df_processed = df_processed.drop(columns=['moss_fraction'])

KeyError: "['Moss_fraction'] not found in axis"

In [ ]:
df_processed

,Sample,Angle,Aspect,Total_cover,Crustose,Fruticose,Foliose,Species,Deviation_north,Solar,moss_cover,lichen_cover
0,4,-31,260,8,1,0,1,"[G_c, O_c, W_c, Bl_f]",100,1749116.0,0.0024,0.0776
1,5,-6,298,3,1,0,1,"[Bl_f, W_c, G_c, O_c]",62,1702451.0,0.0015,0.0285
2,6,-16,351,17,1,0,0,"[W_c, G_c]",9,1746397.0,0.0493,0.1207
3,7,-12,129,1,1,0,0,"[W_c, O_c]",129,1626249.0,0.0000,0.0100
4,8,-17,55,6,1,0,0,"[G_c, W_c, O_c]",55,1541382.0,0.0066,0.0534
5,9,-17,321,48,1,0,1,"[O_c, W_c, G_c, W_f]",39,NaN,0.0192,0.4608
6,10,-23,324,38,1,0,1,"[O_c, W_c, G_c, W_f, Bl_f]",36,NaN,0.3382,0.0418
7,11,8,6,10,1,0,0,"[G_c, O_c, W_c, GR_c]",6,1562656.0,0.0000,0.1000
8,12,-9,286,1,1,0,0,"[G_c, W_c ]",74,1733553.0,0.0000,0.0100
9,13,-10,12,39,1,1,1,"[W_c, W_fr, W_f, G_c, GR_c]",12,1659893.0,0.0390,0.3510
10,14,-3,16,43,1,1,0,"[W_fr, G_c, W_c, GR_c]",16,1597429.0,0.0129,0.4171
11,15,-12,23,20,1,0,1,"[W_f, G_c, W_c]",23,1674168.0,0.1140,0.0860
12,16,0,0,43,1,1,1,"[W_c, W_c, W_fr, Bl_f, G_c, GR_c]",0,1255192.0,0.0043,0.4257
13,17,-8,3,84,1,1,1,"[W_f, W_c, W_fr, Bl_c, G_c, W_c]",3,1029687.0,0.1176,0.7224
14,18,2,341,55,1,0,0,"[W_c, G_c, Bl_c, O_c]",19,1268132.0,0.0000,0.5500
15,19,0,2,63,1,1,1,"[W_c, W_c, W_fr, W_f, G_c]",2,1557222.0,0.0252,0.6048
16,20,24,1,32,1,1,1,"[W_fr, W_c, W_f, G_c, GR_c]",1,1607861.0,0.0768,0.2432
17,21,-5,1,48,1,1,1,"[W_fr, W_f, W_c, GR_c, G_c]",1,1703458.0,0.0096,0.4704
18,22,3,6,69,1,1,0,"[W_fr, W_c, G_c, GR_c]",6,1623516.0,0.0069,0.6831
19,23,-11,352,21,1,1,1,"[W_fr, W_c, G_c, Bl_f]",8,1650079.0,0.0105,0.1995
20,24,0,145,10,1,1,1,"[Y_f, G_c, W_c, W_f]",145,1665297.0,0.0000,0.1000
21,25,0,17,49,1,1,1,"[G_c, W_fr, W_c, W_f, GR_c]",17,1679902.0,0.0343,0.4557
22,26,-25,317,5,1,0,0,"[G_c, R_c, W_c, O_c]",43,1762736.0,0.0215,0.0285
23,27,27,272,9,1,0,0,"[G_c, W_c, O_c]",88,1760109.0,0.0108,0.0792
24,28,-15,288,6,1,0,0,"[W_c, G_c]",72,1384907.0,0.0366,0.0234
25,29,-27,315,35,1,0,1,"[G_c, W_c, O_c, Bl_c, W_f]",45,1667744.0,0.1365,0.2135
26,30,0,269,9,1,0,0,"[G_c, W_c, Bl_c]",91,1684919.0,0.0000,0.0900
27,31,-15,270,7,1,0,0,"[G_c, W_c, O_c]",90,1779883.0,0.0385,0.0315
28,32,-8,300,43,1,0,1,"[G_c, W_c, R_c, O_c, Bl_c, W_f, Bl_f]",60,NaN,0.0731,0.3569
29,33,-23,11,64,1,0,1,"[G_c, W_c, W_c, Bl_c, O_c, W_f]",11,NaN,0.4480,0.1920
30,34,-21,8,47,1,0,1,"[G_c, W_c, Bl_c, W_f, W_f, O_c]",8,NaN,0.0940,0.3760
31,35,2,179,18,1,0,0,[W_c],179,NaN,0.1710,0.0090
32,36,-27,0,23,1,0,1,"[W_c, G_c, W_f, Bl_c]",0,NaN,0.0759,0.1541
33,37,-23,3,28,1,0,1,"[W_c, G_c, W_f, Bl_c]",3,NaN,0.0672,0.2128
34,38,19,220,18,1,0,0,"[G_c, W_c, O_c]",140,NaN,0.1080,0.0720
35,39,13,283,8,1,0,0,"[G_c, W_c, O_c]",77,NaN,0.0280,0.0520
36,40,-11,17,29,1,0,1,"[G_c, W_c, O_c, W_f, Bl_f, Bl_c]",17,NaN,0.0696,0.2204
37,41,-25,349,39,1,0,1,"[G_c, W_c, W_f, O_c, Bl_c]",11,NaN,0.1482,0.2418
38,42,-24,111,4,1,0,0,[W_c],111,NaN,0.0012,0.0388
39,43,-6,197,4,1,0,1,"[G_c, W_f, W_c, O_c]",163,NaN,0.0184,0.0216
40,44,-17,72,3,1,0,0,"[G_c, W_c, O_c]",72,NaN,0.0021,0.0279
41,45,-15,27,38,1,0,1,"[W_c, G_c, O_c, W_f]",27,NaN,0.0456,0.3344
42,46,12,257,9,1,0,0,"[O_c, W_c, G_c]",103,NaN,0.0027,0.0873